body{font-family: Arial; 
background-color: #ccc;
width: 80%;
margin: 20px auto;
}


header{
	background-color: #303030;
	color: #fff;
	padding: 20px;
}
header ul{
	list-style: none;
}
/*Eliminar las viñetas del menu*/

/*Eliminar el subrrayado de los enclances*/
header ul li a{
	color: #fff;
	text-decoration: none;
	padding: 20px
}

header ul li a:hover {
	background-color: #ef8354;
}

main{
	background-color: #fff;
	padding: 20px;
}

footer{
	background-color: #303030;
	color: #fff;
	padding: 10px;
}